<div class="about-section">
    <h1>About Us Page</h1>
    <p>The chefs behind the knives.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1551218370-44f5d7748b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Brat Pit</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1566554273541-37a9ca77b91f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Evelyn Ross</h2>
          <p class="title">Prof. Chef</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>evelyn@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1550125080-5c4b2d7950db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Knife master</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>
  </div>