<div class="about-section">
    <h1>About Us</h1>
    <p>The dogs behind the adventures</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1511382686815-a9a670f0a512?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Bobby Brown</h2>
          <p class="title">Good boy</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>brown@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1548878811-cddbc06f9d4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Evelyn Ross</h2>
          <p class="title">CIO of CatGroup ltd.</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>evelyn@example.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=660&q=80" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Proffesional model</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
        </div>
      </div>
    </div>
  </div>