/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;

    background: rgba(#ffffff,0.3);
    background-image: url("https://images.wallpaperscraft.com/image/dog_cat_kitten_puppy_drawing_heart_96341_1920x1080.jpg");
    background-size: cover;   
    background-attachment: fixed;
    
}