<section>
    <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
            <mat-progress-bar mode="determinate" value="{{ uploadPercent | async }}"></mat-progress-bar>
        </div>
        <div [hidden]="!image">
            <img [src]="image || '//:0'">
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="title">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
        <textarea matInput placeholder="Post Content" [(ngModel)]="content" rows="10"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content || !image">{{buttonText}}</button>
</section>