<section>
    <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
            <mat-progress-bar mode="determinate" value="{{ uploadPercent | async }}"></mat-progress-bar>
        </div>
        <div [hidden]="!image">
            <img [src]="image || '//:0'">
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <label id="example-radio-group-label">Type</label>
        <mat-divider></mat-divider>
        <mat-radio-group class="radio-group" [(ngModel)]="favType">
            <mat-radio-button class="radio-button" value="dog">Dog</mat-radio-button>
            <mat-radio-button class="radio-button" value="cat">Cat</mat-radio-button>
            <mat-radio-button class="radio-button" value="fun-fact">Fun fact</mat-radio-button>
        </mat-radio-group>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="title">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
        <textarea matInput placeholder="Post Content" [(ngModel)]="content" rows="10"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" (click)="createPost()"
        [disabled]="!title || !content || !image || !favType">{{buttonText}}</button>
</section>