<section>
    <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="title">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
        <textarea matInput placeholder="Post Content" [(ngModel)]="content" rows="10"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content">{{buttonText}}</button>
</section>